# Codelab 1


**CODELAB 1**

Dengan data yang telah disediakan, pisahkan antara nilai int, float, dan string dengan
ketentuan sebagai berikut:
1. Data float disimpan dalam tipe tuple
2. Data string disimpan ke dalam list
3. Data int disimpan dalam dictionary, dimana data satuan, puluhan dan ribuan akan dimasukkan ke dalam dictionary sebagai value.
4. Kemudian tampilkan hasil nya seperti pada contoh.

In [ ]:
floatTuple = []
dataList = []
intDict = {}

random_list = [900, 3.1, 3078, "Hello", 737, "Python", 2.7, 2002, 50,
               "Tech Winter", 7.566, 40, 1, "Is", 60.5, "Better", 1000.1,
               4, "world", 412, 5.5, "AI", 99.234, 12000]

for data in random_list:
    if isinstance(data, float):

        floatTuple.append(data)
    elif isinstance(data, str):
        dataList.append(data)
    elif isinstance(data, int):
        if data < 10:
            intDict[data] = "Satuan"
        elif data < 100:
            intDict[data] = "Puluhan"
        elif data < 1000:
            intDict[data] = "Ratusan"
        elif data >= 1000:
            intDict[data] = "Ribuan"

for key, value in intDict.items():
  print(f"{key} : {value}")

print("Float data list =", tuple(floatTuple))
print("String data list =", dataList)
print("Integer data list =", intDict)

900 : Ratusan
3078 : Ribuan
737 : Ratusan
2002 : Ribuan
50 : Puluhan
40 : Puluhan
1 : Satuan
4 : Satuan
412 : Ratusan
12000 : Ribuan
Float data list = (3.1, 2.7, 7.566, 60.5, 1000.1, 5.5, 99.234)
String data list = ['Hello', 'Python', 'Tech Winter', 'Is', 'Better', 'world', 'AI']
Integer data list = {900: 'Ratusan', 3078: 'Ribuan', 737: 'Ratusan', 2002: 'Ribuan', 50: 'Puluhan', 40: 'Puluhan', 1: 'Satuan', 4: 'Satuan', 412: 'Ratusan', 12000: 'Ribuan'}

In [ ]:
data_dict = {
    900: 'ratusan', 3078: 'ribuan', 737: 'ratusan', 2002: 'ribuan',
    50: 'puluhan', 40: 'puluhan', 1: 'satuan', 4: 'satuan',
    412: 'ratusan', 12000: 'ribuan'
}

string_list = ['Hello', 'Python', 'Tech Winter', 'Is', 'Better', 'world', 'AI']

data_tuple = (3.1, 2.7, 7.566, 60.5, 1000.1, 5.5, 99.234)

for key, value in data_dict.items():
    print(f"{key} = {value}")

print("string data list =", string_list)

print("data tuple =", data_tuple)

900 = ratusan
3078 = ribuan
737 = ratusan
2002 = ribuan
50 = puluhan
40 = puluhan
1 = satuan
4 = satuan
412 = ratusan
12000 = ribuan
string data list = ['Hello', 'Python', 'Tech Winter', 'Is', 'Better', 'world', 'AI']
data tuple = (3.1, 2.7, 7.566, 60.5, 1000.1, 5.5, 99.234)

In [ ]:
floatTuple = []
dataList = []
intDict = {}

random_list = [900, 3.1, 3078, "Hello", 737, "Python", 2.7, 2002, 50,
               "Tech Winter", 7.566, 40, 1, "Is", 60.5, "Better", 1000.1,
               4, "world", 412, 5.5, "AI", 99.234, 12000]

for data in random_list:
    if isinstance(data, float):

        floatTuple.append(data)
    elif isinstance(data, str):
        dataList.append(data)
    elif isinstance(data, int):
        if data < 10:
            intDict[data] = "Satuan"
        elif data < 100:
            intDict[data] = "Puluhan"
        elif data < 1000:
            intDict[data] = "Ratusan"
        elif data >= 1000:
            intDict[data] = "Ribuan"

for key, value in intDict.items():
  print(f"{key} : {value}")

print("Float data list =", tuple(floatTuple))
print("String data list =", dataList)
print("Integer data list =", intDict)

900 : Ratusan
3078 : Ribuan
737 : Ratusan
2002 : Ribuan
50 : Puluhan
40 : Puluhan
1 : Satuan
4 : Satuan
412 : Ratusan
12000 : Ribuan
Float data list = (3.1, 2.7, 7.566, 60.5, 1000.1, 5.5, 99.234)
String data list = ['Hello', 'Python', 'Tech Winter', 'Is', 'Better', 'world', 'AI']
Integer data list = {900: 'Ratusan', 3078: 'Ribuan', 737: 'Ratusan', 2002: 'Ribuan', 50: 'Puluhan', 40: 'Puluhan', 1: 'Satuan', 4: 'Satuan', 412: 'Ratusan', 12000: 'Ribuan'}

# Codelab 2

 **CODELAB 2**

Buatlah sebuah program untuk memisahkan data input user menjadi bilangan genap dan ganjil.
Data input dipisah dengan spasi, data genap akan dimasukkan ke dalam list dan data ganjil akan dimasukkan ke dalam tuple. (Gunakan casting untuk menyamakan tipe data)
Tampilkan hasil yang telah dibuat.

In [ ]:
def pisahkan_genap_ganjil(input_bilangan):
    list_genap = []
    list_ganjil = []

    for x in input_bilangan.split():
        bilangan = int(x)
        if bilangan % 2 == 0:
            list_genap.append(bilangan)
        else:
            list_ganjil.append(bilangan)

    return list_genap, tuple(list_ganjil)

input_bilangan = input("Masukkan beberapa bilangan yang dipisahkan oleh spasi: ")

result_genap, result_ganjil = pisahkan_genap_ganjil(input_bilangan)

print("hasil genap : ", result_genap)
print("hasil ganjil : ", result_ganjil)

Masukkan beberapa bilangan yang dipisahkan oleh spasi: 4 5 6 7 9
hasil genap :  [4, 6]
hasil ganjil :  (5, 7, 9)

# Codelab 3

**CODELAB 3**

1. Buatlah sebuah kamus (dictionary) yang menyimpan data nilai untuk 5 mahasiswa dengan 3 mata kuliah berbeda.
2. Buatlah fungsi untuk menghitung rata-rata nilai setiap mahasiswa.
3. Buatlah fungsi untuk menghitung rata-rata nilai seluruh mahasiswa.

In [3]:
nilai_mahasiswa = {
    "Andi": {"Matematika": 80, "Fisika": 75, "Kimia": 85},
    "Budi": {"Matematika": 70, "Fisika": 65, "Kimia": 75},
    "Citra": {"Matematika": 85, "Fisika": 90, "Kimia": 80},
    "Doni": {"Matematika": 70, "Fisika": 60, "Kimia": 80},
    "Eva": {"Matematika": 95, "Fisika": 85, "Kimia": 90}
}

def rata_rata_per_mahasiswa(nilai_mahasiswa):
    rata_rata_mahasiswa = {}
    for mahasiswa, nilai in nilai_mahasiswa.items():
        total_nilai = sum(nilai.values())
        rata_rata_mahasiswa[mahasiswa] = total_nilai / len(nilai)
    return rata_rata_mahasiswa

def rata_rata_semua_mahasiswa(nilai_mahasiswa):
    total_nilai = 0
    jumlah_nilai = 0
    for nilai in nilai_mahasiswa.values():
        total_nilai += sum(nilai.values())
        jumlah_nilai += len(nilai)
    return total_nilai / jumlah_nilai

rata_mahasiswa = rata_rata_per_mahasiswa(nilai_mahasiswa)
rata_semua_mahasiswa = rata_rata_semua_mahasiswa(nilai_mahasiswa)

print("Rata-rata nilai per mahasiswa:")
for mahasiswa, rata in rata_mahasiswa.items():
    print(f"{mahasiswa}: {rata:.2f}")

print(f"\nRata-rata nilai seluruh mahasiswa: {rata_semua_mahasiswa:.2f}")

Rata-rata nilai per mahasiswa:
Andi: 80.00
Budi: 70.00
Citra: 85.00
Doni: 70.00
Eva: 90.00

Rata-rata nilai seluruh mahasiswa: 79.00